{
  "extends": [
    "airbnb-typescript/base",
    "airbnb-base",
    "plugin:vue/recommended"
  ],
  "parserOptions": {
    "project": "./tsconfig.eslint.json",
    "extraFileExtensions": [".vue"],
    "parser": "@typescript-eslint/parser"
  }
}