#container {
  background: rgb(29, 29, 101);
  background: linear-gradient(90deg, rgba(29, 29, 101, 1) 0%, rgba(127, 37, 112, 1) 72%, rgba(197, 64, 105, 1) 100%);
  height: 100vh;
  width: 100%;
  margin: 0 0 0 0;
  display: block;
  overflow: hidden;
}

#login-box {
  background-color: #484554;
  display: flex;
  justify-content: center;
  width: 25vw;
  height: 60vh;
  margin: 20vh auto;
  padding: 50px;
}

form {
  align-self: center;
}

.color-heading {
  color: #8fd0fb;
}

input {
  border: 0 none;
}

input:focus {
  border: 0 none;
  outline: none;
}

.inputIcon {
  width: 17px;
  height: 19px;
  float: left;
  margin: 3px;
  margin-top: 0.6em;
}

.inputContainer {
  border-bottom: 1px solid white;
}

.inputContainer:focus-within {
  border-bottom: 2px solid #917FFB;
}

#emailInput > .inputIcon {
  -webkit-mask-image: url('svg/envelope.svg');
  mask-image: url('svg/envelope.svg');
}

#passwordInput > .inputIcon {
  -webkit-mask-image: url('svg/lock.svg');
  mask-image: url('svg/lock.svg');
}

::placeholder {
  color: lightgrey;
}